# Cloud Shell / Cloud Code caches
.cache/
.google/
.local/
.config/
.ssh/
.bash*
node_modules/
__pycache__/
*.log

# OPA Bundles
bundle.tar.gz

# OS metadata
.DS_Store

# VS Code local history and Gemini credentials
.codeoss/
.gemini/
